<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIC Cafe</title>
    <link rel="stylesheet" href="/css/main.css">
    <link  rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="header_nav">
        <a href="index.html" class="logo"><img src="/images/sample_logo_k.png" alt="DIC Cafe Logo"></a>
            <ul class="global_nav">
                <li><a href="index.html" class="global_nav_item">Home</a></li>
                <li><a href="#" class="global_nav_item">Menu</a></li> 
                <li><a href="#" class="global_nav_item">About Us</a></li> 
                <li><a href="#" class="global_nav_item">Contact</a></li>
            </ul>
    </nav>
    <!-- Hero Section -->
    <section class="key section_inner">
        <h1>DIC Coffee</h1>
        <p>Natural Organic Cafe</p>
    </section>

    <!-- Concept Section -->
    <section class="section_inner concept">
        <div class="section_title">
            <h1>CONCEPT</h1>
            <p>DIC Coffee's Commitment</p>
        </div>
        <div class="concept_container">
            <div class="concept_inner_text">
                <p style="vertical-align: inherit;">
                    DIC Coffee uses coffee beans from Rwanda called <strong>"DIC Beans"</strong>. <br>
                    We source directly from contracted coffee farmers.<br>
                    Enjoy a cup with balanced acidity, depth, and fruity sweetness.<br>
                    <small>※DIC Cafe is operated by DIVIC Corporation with partner farms.</small>
                </p>
            </div>
            <div class="concept_image">
                <img src="/images/sample_concept.jpg" alt="DIC Coffee Concept">
            </div>
        </div>
    </section>

    <!-- Menu Section -->
<main>
    <section class="section_inner menu" id="menu">
        <h1 class="section_title">MENU</h1>

        <!-- Recommended Menu -->
            <div class="center">
                <h1 class="menu_title">Recommended Menu</h1>
            </div>

    <section>
    <div class="menu-row">
            <div class="recommended-item">
                <img src="/images/sample_pancake1.jpg" alt="Blueberry Pancakes">
                <div class="recommended-text">
                    <h2>Blueberry Pancakes</h2> <br>
                    <p>Pancakes topped with fresh blueberries</p> <br>
                    <p class="recommended-price">¥1,200</p> <br>
                </div>
            </div>

            <div class="recommended-item">
                <img src="/images/sample_pancake2.jpg" alt="Strawberry Pancakes">
                <div class="recommended-text">
                    <h2>Strawberry Pancakes</h2> <br>
                    <p>Enjoy the combination of strawberries and honey</p> <br>
                    <p class="recommended-price">¥1,300</p> <br>
                </div>
            </div>
    </div>
    </section>

            <!-- Coffee Menu Title -->
    <section class="section_inner menu_section">
        <div class="center">
        <h1 class="menu_title">Coffee Menu</h1>
        </div>
</section>
<!-- Coffee Menu -->
<div class="main-menu">
<div class="menu_list">
    <ul>
    <li class="coffee-list">
        <div class="menu-image">
        <img src="/images/sample_cafe1.jpg" class="coffee_menu_image" alt="Blend Coffee">
        </div>
        <div class="coffee_menu_content">
        <h2 class="menu_item_title">Blend Coffee</h2>
        <p class="coffee_menu_price">¥400</p>
        </div>
    </li>

    <li class="coffee-list">
        <div class="menu-image">
        <img src="/images/sample_cafe2.jpg" class="coffee_menu_image" alt="Art Latte">
        </div>
        <div class="coffee_menu_content">
        <h2 class="menu_item_title">Art Latte</h2>
        <p class="coffee_menu_price">¥500</p>
        </div>
</li>
    </ul>

<ul>
    <li class="coffee-list">
    <div class="menu-image">
        <img src="/images/sample_cafe3.jpg" class="coffee_menu_image" alt="Cafe Latte">
    </div>
    <div class="coffee_menu_content">
        <h2 class="menu_item_title">Cafe Latte</h2>
        <p class="coffee_menu_price">¥450</p>
    </div>
    </li>

    <li class="coffee-list">
        <div class="menu-image">
        <img src="/images/sample_cafe4.jpg" class="coffee_menu_image" alt="Iced Coffee">
        </div>
        <div class="coffee_menu_content">
<h2 class="menu_item_title">Iced Coffee</h2>
        <p class="coffee_menu_price">¥350</p>
        </div>
    </li>
    </ul>
</div>
</div>

    <!-- Access Section -->
    <section class="section_inner access">
    <div class="section_title">
        <h2>VISIT US</h2>
        <p>Store Information</p>
    </div>
    <dl>
        <dt>Hours</dt>
        <dd>10:00 - 19:00<br>Closed on Thursdays</dd>
    </dl>
    <dl>
        <dt>Address</dt>
        <dd>
        〒150-0044<br>
        Maruyama-cho 28-4, Shibuya-ku, Tokyo<br>
        Oba Building A<br>
        <a href="tel:+81354591808">TEL: 03-5459-1808</a>
        </dd>
    </dl>
    <iframe class="google_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8621148514217!2d139.69188657578655!3d35.65576867259545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b55bb707eff%3A0x5f04575eb7aca63e!2s%C5%8Cba%2C%2028-4%20Maruyamach%C5%8D%2C%20Shibuya%2C%20Tokyo%20150-0044%2C%20Japan!5e0!3m2!1sen!2ske!4v1746715082474!5m2!1sen!2ske" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

<!-- Footer -->
<footer class="footer">
    <nav class="footer_nav">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="sale.html">Menu</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    <img src="../images/sample_logo_w.png" alt="DIC Cafe White Logo" class="footer_logo">
    </nav>
    <div>
    <p class="copyright">© DIVE INTO CODE Corp. ALL RIGHTS RESERVED</p>
    </div>
</footer>
</body>
</html>